@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
:root {
	font-size: 16px;
}
html{
	box-sizing: border-box;
}
body{
	margin: 0;
	overflow-x: hidden;
	font-family: Heebo, sans-serif;
}

#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: peru;
	margin-top: 60px;
	font-size: 2rem;
}
.wrapper{
	position: relative;
width: 1152px;
min-height: 100vh;
margin: auto;
color: #21243D;
}
.title{
		position: absolute;
	width: 437px;
	height: 57px;
	left: 130px;
	top: 228px;
	font-style: normal;
	font-weight: bold;
	font-size: 44px;
	line-height: 60px;
	/* or 136% */
	letter-spacing: 1.5px;
}
.title1{
		position: absolute;
	width: 635px;
	height: 60px;
	left: 25px;
	top: 285px;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 60px;
	/* identical to box height, or 250% */
	letter-spacing: 3.5px;
}
.my-image-container{
		position: absolute;
	width: 310px;
	height: 320px;
	left: 790px;
	top: 140px;

}
.text{
		position: absolute;
	width: 491px;
	height: 72px;
	left: 100px;
	top: 365px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 23px;

/* Dark Color */
}
.download-resume{
		position: absolute;
	width: 208px;
	height: 47px;
	left: 148px;
	top: 485px;

}
.title2{
		position: absolute;
	width: 57px;
	height: 43px;
	left: 856px;
	top: 27px;

	font-family: Heebo;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 29px;
	text-align: right;
}
.title3{
		position: absolute;
	width: 106px;
	height: 43px;
	left: 882px;
	top: 27px;

	font-family: Heebo;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 29px;
	text-align: right;
}
.title4{
		position: absolute;
	width: 71px;
	height: 43px;
	left: 1021px;
	top: 27px;

	font-family: Heebo;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 29px;
	text-align: right;
}